.cours{
    color: #007FFF;
    margin-left: 30px;
    font-size: 20px;
}
.content{
    padding: 30px;
    margin-left: 70px;
}
.emploiTemps{
    display: flex;
    border: 3px solid rgb(232, 229, 229);
    border-radius: 8px;
    padding: 15px;
}
.temps{
    display: flex;
    justify-content: space-between;
    width: 210px;
}
.emploiTemps__details{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}
.profil{
    text-align: center;
}
.profil h3{
    margin: 0;
}
